{% extends 'layout.html' %}

{% block body %}
<style>
  .dropdown-btn {
    padding: 20px;
    font-size: 16px;
  }
</style>
<script>
  $(window).on('load', function(){
    var clicked = false;
    $("#enableDelete").click(function(){
        if(clicked == false) {
          clicked = true;
          $(".deletebtn").attr('class', 'btn btn-danger deletebtn');
        } else {
          clicked = false;
          $(".deletebtn").attr('class', 'btn btn-danger disabled deletebtn');
        }
    });
  });


  function last_name_sort(a, b) {
    var a = $(a).text();
    var b = $(b).text();
    a = a.substr(a.indexOf(' ')+1);
    b = b.substr(b.indexOf(' ')+1);
    if (a < b) return -1;
    if (a > b) return 1;
    return 0;
  }

  $(document).ready(function() {
  	$('.attendance_form').on('submit', function(event) {
      var id_val = $(this).find('#id');
      var amount_val = $(this).find('#amount');
      var group_val = $(this).find('#group');
      $(".attendance_dropdown").attr('class', 'dropdown attendance_dropdown')

  		$.ajax({
  			data : {
  				id : id_val.val(),
  				amount : amount_val.val(),
          group : group_val.val()
  			},
  			type : 'POST',
  			url : '/attending'
  		})
  		.done(function(data) {
        var id = data.id;
        var row = '#tr-id-' + id;
        var total = '#total-' + id;
        var amount = Number(Math.round(data.amount+'e2')+'e-2');
        $(total).text(amount);
        $(row).attr('class', 'tr-class success');
  		});
  		event.preventDefault();
  	});
  });

</script>
<!DOCTYPE html>
<html>
<body>
  <h1>Dashboard<small> Welcome {{ session.username }}</small></h1>
  <div class="dropdown pull-right">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Group
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/dashboard">All Swimmers</a></li>
      <li class="divider"></li>
      {% for group in group_list %}
        <li><a href="/dashboard/training_group/{{ group }}">{{ group }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <a class="btn btn-success" style="display: inline-block;" href="/add_swimmer">Add swimmer</a>
    <form action="{{ url_for('reset_all_attending') }}" method="post" style="display: inline-block;">
      <input type="submit" value="Reset All" class="btn btn-danger">
    </form>
    <button id="enableDelete" style="display: inline-block;" class="btn btn-danger">Enable Delete</button>
  </div>
  <hr>
  <div class="container">
      <table id="table"
             data-toggle="table"
             data-sort-name="name"
             data-sort-order="asc"
             data-pagination="false"
             data-page-list="[5, 10, 20, 50, 100, 200, All]"
             data-search="true">
          <thead>
          <tr>
              <th data-field="name" data-sortable="true" data-sorter="last_name_sort">Name</th>
              <th data-field="default" data-sortable="false">Default</th>
              <th data-field="attending" data-sortable="false">Attending</th>
              <th data-field="total" data-sortable="true">Total</th>
              <th data-field="remove_attendance" data-sortable="false">Remove Att</th>
              <th data-field="job_total" data-sortable="true">Job Total</th>
              <th data-field="take_credit" data-sortable="false">Take Credit</th>
              <th data-field="edit" data-sortable="false">Edit</th>
              <th data-field="delete" data-sortable="false"></th>
          </tr>
          </thead>
          <tbody>
            {% for swimmer in swimmers %}
              {% if swimmer.attending == 1 %}
                <tr id="tr-id-{{ swimmer.id }}" class="tr-class success">
              {% else %}
                <tr id="tr-id-{{ swimmer.id }}" class="tr-class">
              {% endif %}
                <td id="td-id" class="td-class"><a href="/swimmers/{{ swimmer.id }}">{{ swimmer.name }}</a></td>
                <td>
                  <form class="attendance_form" method="post" >
                    <input type="hidden" id="id" name="id" value="{{ swimmer.id }}">
                    {% for value in default_values %}
                      {% if value.training_group == swimmer.training_group %}
                        <input type="hidden" id="amount" name="amount" value="{{ value.value }}">
                        <input type="hidden" id="group" name="group" value="{{ swimmer.training_group }}">
                        <input type="submit" value="{{ value.value }}" class="btn btn-primary">
                      {% endif %}
                    {% endfor %}
                  </form>
                </td>
                <td>
                  <div class="dropdown attendance_dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Amount
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      {% for amount in amounts %}
                        <form class="attendance_form" method="post" >
                          <input type="hidden" id="id" name="id" value="{{ swimmer.id }}">
                          <input type="hidden" id="amount" name="amount" value="{{ amount.amount }}">
                          <input type="hidden" id="group" name="group" value="{{ swimmer.training_group }}">
                          <input type="submit" style="-webkit-appearance: none;" value="{{ amount.amount }}" class="btn-block dropdown-btn">
                        </form>
                      {% endfor %}
                    </ul>
                  </div>
                </td>
                <td id="total-{{ swimmer.id }}">{{ swimmer.total }}</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Amount
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      {% from "includes/_formhelpers.html" import render_field %}
                      <form method="POST" action="/remove_attendance/{{ swimmer.id }}">
                        <div class="form-group">
                          {{ render_field(form.amount, class_="form-control") }}
                        </div>
                        <p><input class="btn btn-primary" type="submit" value="Submit"></p>
                      </form>
                    </ul>
                  </div>
                </td>
                <td>{{ swimmer.job_total }}</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Amount
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <form action="{{ url_for('take_credit', id=swimmer.id) }}" method="post" >
                        <input type="hidden" name="id" value="{{ swimmer.id }}">
                        <input type="hidden" name="amount" value="1">
                        <input type="submit" style="-webkit-appearance: none;" value="1" class="btn-block dropdown-btn">
                      </form>
                      <form action="{{ url_for('take_credit', id=swimmer.id) }}" method="post" >
                        <input type="hidden" name="id" value="{{ swimmer.id }}">
                        <input type="hidden" name="amount" value="2">
                        <input type="submit" style="-webkit-appearance: none;" value="2" class="btn-block dropdown-btn">
                      </form>
                      <form action="{{ url_for('take_credit', id=swimmer.id) }}" method="post" >
                        <input type="hidden" name="id" value="{{ swimmer.id }}">
                        <input type="hidden" name="amount" value="3">
                        <input type="submit" style="-webkit-appearance: none;" value="3" class="btn-block dropdown-btn">
                      </form>
                    </ul>
                  </div>
                </td>
                <td>
                  <a href="/edit/{{ swimmer.id }}" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <form action="{{ url_for('delete_swimmer', id=swimmer.id) }}" method = "post">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="submit" value="Delete" class="btn btn-danger deletebtn disabled">
                    </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>
</body>
</html>
{% endblock %}