{% extends 'layout.html' %}

{% block body %}
<script>
  function last_name_sort(a, b) {
    var a = $(a).text();
    var b = $(b).text();
    a = a.substr(a.indexOf(' ')+1);
    b = b.substr(b.indexOf(' ')+1);
    if (a < b) return -1;
    if (a > b) return 1;
    return 0;
  }
</script>

  <h1 class="text-center">Swimmers</h1>
  <div style="margin-bottom: 5px" class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Group
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for group in group_list %}
        <li><a href="/swimmers/training_group/{{ group }}">{{ group }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="container">
    <table id="table"
           data-toggle="table"
           data-sort-name="name"
           data-sort-order="asc"
           data-pagination="true"
           data-page-list="[5, 10, 20, 50, 100, 200, All]"
           data-search="true">
        <thead>
        <tr>
            <th data-field="name" data-sortable="true" data-sorter="last_name_sort">Name</th>
        </tr>
        </thead>
        <tbody>
          {% for swimmer in swimmers %}
            <tr id="tr-id" class="tr-class">
              <td id="td-id" class="td-class"><a href="/swimmers/{{ swimmer.id }}">{{ swimmer.name }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
